###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
/public/coverage
/.phpunit.cache/
###< phpunit/phpunit ###

###> sonarqube ###
/.scannerwork/
###< sonarqube ###

###> infection ###
public/infection.html
###< infection ###

###> phpmetrics ###
public/phpmetrics
###< phpmetrics ###

/.vscode/
/tools/
/.php-cs-fixer.cache
/.reports/
CHEATSHEET.md
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
