{{ form_start(form, {'attr': {'class': 'centeredForm'}}) }}
    {{ form_widget(form) }}
    <button id="cmdSubmit" name="cmdSubmit">{{ button_label|default('save'|trans) }}</button>
{{ form_end(form) }}
